node_modules/
dist/
/images/
/maquettes/
/portfolio-john-doe-rendu.zip
/rendu_portfolio_john_doe/
/site_pret_a_ouvrir/
/site_pret_a_ouvrir.zip
/LIEN_DEPOT_GITHUB_CHARLY_OFFRY.pdf
/PDF_DEPOT_GITHUB_A_COMPLETER.pdf
.env
.DS_Store
Thumbs.db
